#Application settings..
spring.application.name=MobileAppServer
server.contextPath=/MAS
spring.mvc.throw-exception-if-no-handler-found=true
spring.profiles.active=prod
server.port={{ http_port }}
tomcat.ajp.port={{ ajp_port }}
tomcat.ajp.remoteauthentication=false
tomcat.ajp.enabled=true

#Apple certificates
notification.app.cert.name=ZycusAppDevelopment
notification.app.cert.pwd=Zycus123

#Google key
notification.Google.server.key=AIzaSyCPi50b0KpLjYMj9BbFIVC7EiDz-ECa0s8

#ActiveMQ
brokerUrl={{ activemq_url }}
clientId=MASGlobalSubscriber

#API application supported versions
apiVersion=v3
apiVersion-1=v2

#Accesslog configuration
server.tomcat.accesslog.directory=${MAS_LOGS_DIR}
server.tomcat.accesslog.enabled=true
server.tomcat.accesslog.pattern=common

#API user details
mas.apiusername=oneviewAPI@zycus.com
mas.apipassword=Pass@123

#FCM Server key
fcmServerKey=AAAAIQocLkI:APA91bH_GYMCTO7Sx23QGd0KqtpL11zeLb8S4wjGonoNHGBEMMY1yMYWtxEhXcRygjyC3--4mP5Bpsk2-I2SShSIeTP0lGJ83fCywRpwAkEL2WS4xAaSRwweY3oBuGnNBXozGD7A0UXx