# Version
release_version=17.06.1.0
patch_version=0

# JAVA Version
JAVA_HOME={{ jdk_path }}
MAS_JAVA_VERSION=1.7

# Log info
MAS_LOGS_DIR={{ log_location }}
MAS_LOGS_MODE=ERROR

# Host info
MAS_HOST_IP={{ application_ip }}

# Other info
MAS_CACHE_TIMESTAMP=1474483541

MAS_FILE_ENC=UTF-8

MAS_TIMEZONE=IST

MAS_JMX_ENABLE=true

MAS_JAVA_HEAP=2g

MAS_JAVA_PGEN=256m

MAS_JAVA_GC_TUNE=

MAS_UMASK=0002

MAS_OPEN_FILE_LIMIT=204

TZ=:/etc/localtime






