#Mongo
mongo.host={{ mongo_master_ip }}
mongo.port={{ mongo_master_port }}
mongo.connectionsPerHost=500
mongo.threadsAllowedToBlockForConnectionMultiplier=1000
mongo.connectTimeout=10000
mongo.maxWaitTime=10000
mongo.autoConnectRetry=true
mongo.socketKeepAlive=true
mongo.socketTimeout=10000
mongo.slaveOk=true
mongo.replica-set=mongo_replica
mongo.databaseName=zycus_oneview