#TMS
tms.SSOServerURL={{ tms_sso_domain_url }}
tms.SSOLoginURL=
tms.Logout-URL={{ tms_logout_url }}
tms.User-Profile-URL={{ tms_user_profile_url }}
tms.SSOHomeURL={{ tms_homepage_url }}
tms.ServiceName=
tms.tms_product_selection_page=
tms.Unauthorized-Page={{ tms_unauthorized_page_url }}
productName=MAS